@charset "UTF-8";
/* Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Poppins:wght@300;500 & display=swap");
@import url("https://coolors.co/ba2d0b-d5f2e3-73ba9b-003e1f-01110a");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Feliz+Mono & display=swap");
/* Reset */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Tamaño y color BODY, HTML */
html {
  background-color: aliceblue;
}

body {
  width: 100%;
  min-height: 100vh;
}

/* Header GLOBAL */
header {
  grid-area: header;
  height: auto;
  background-color: black;
}
header .IMGLOGO {
  display: flex;
  justify-content: center;
}
header .IMGLOGO .IMGLOGO2 {
  width: 475px;
  height: 200px;
}
header h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: aliceblue;
}
header h2 {
  font-family: "Poppins", sans-serif;
  font-size: smaller;
  text-align: center;
  color: aliceblue;
}
header nav .Links {
  display: flex;
  list-style-type: none;
  font-family: fantasy;
  font-size: 1rem;
  justify-content: space-evenly;
  margin-top: 10px;
}

/* Main GLOBAL */
main {
  grid-area: main;
}
main h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: aliceblue;
}
main h2 {
  font-family: "Poppins", sans-serif;
  font-size: smaller;
  text-align: center;
  color: aliceblue;
}

/* INDEX */
.bodyINDEX {
  background-color: #ff7878;
  background-image: linear-gradient(315deg, #ff7878 0%, #74d680 74%);
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.01fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "main main" "footer footer";
}
.bodyINDEX .mainIndex {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: "jib elijagpu";
}
.bodyINDEX .mainIndex .IMGJIB {
  display: flex;
  justify-content: center;
  grid-area: jib;
}
.bodyINDEX .mainIndex .IMGJIB .JIB {
  border-radius: 5px;
  height: 300px;
  width: 300px;
}
.bodyINDEX .mainIndex .ElijaGPU {
  margin-top: 20px;
  display: flex;
  grid-area: elijagpu;
  flex-direction: column;
}
.bodyINDEX .mainIndex .ElijaGPU h1 {
  display: flex;
  background-color: black;
  border-radius: 5px;
  width: 500px;
}
.bodyINDEX .mainIndex .ElijaGPU p {
  display: flex;
  font-size: 30px;
  color: black;
  font-family: "Poppins", sans-serif;
}

/* PERFIL */
.bodyPERFIL {
  background-color: #ff7878;
  background-image: linear-gradient(315deg, #ff7878 0%, #74d680 74%);
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.5fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "main main" "footer footer";
}
.bodyPERFIL .mainPERFIL {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: "main parrafoperfil" "iconoperfil formulario";
}
.bodyPERFIL .mainPERFIL .ParrafoPerfil {
  margin-top: 10px;
  font-family: "Happy Monkey", cursive;
  border-radius: 5px;
  color: white;
  grid-area: ParrafoAMD;
  font-size: 30px;
  grid-area: parrafoperfil;
  display: flex;
  background-color: black;
  width: 600px;
}
.bodyPERFIL .mainPERFIL .IconoPerfil {
  grid-area: iconoperfil;
  margin-left: 100%;
  margin-top: 20px;
}
.bodyPERFIL .mainPERFIL .IconoPerfil .PerfilIcono {
  width: 60px;
  height: 60px;
}
.bodyPERFIL .mainPERFIL .Formulario {
  display: flex;
  font-size: 30px;
  margin-top: 70px;
  color: black;
  font-family: "Raleway", sans-serif;
  grid-area: formulario;
  margin-left: 0%;
}

/* GPUS */
.bodyGPUS {
  background-color: #ff7878;
  background-image: linear-gradient(315deg, #ff7878 0%, #74d680 74%);
  display: grid;
  grid-template-rows: 0.2fr 4fr 0.2fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "main main" "footer footer";
}
.bodyGPUS .mainGPUS {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 0.5fr repeat(2, 1fr);
  grid-template-areas: "ParrafoAMD rx5 rx5" "main rx67 rx67" "main otros otros" "main otros2 otros2" "main rtx12 rtx12" "main rtx34 rtx34" "main otrasNvidia otrasNvidia" "main otrasNvidia2 otrasNvidia2";
}
.bodyGPUS .mainGPUS p {
  margin-top: 5px;
  font-size: 16px;
  color: black;
  background-color: azure;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.bodyGPUS .mainGPUS .ParrafoGPUS {
  display: flex;
  font-family: "Raleway", sans-serif;
  grid-area: ParrafoAMD;
  margin-top: 5px;
  margin-left: 5px;
  background-color: black;
  border-radius: 5px;
  height: 200px;
}
.bodyGPUS .mainGPUS .RX5 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: rx5;
}
.bodyGPUS .mainGPUS .RX5 .SeriesRX500 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 275px;
  height: 210px;
}
.bodyGPUS .mainGPUS .RX5 .W6600 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 400px;
  height: 200px;
}
.bodyGPUS .mainGPUS .RX67 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: rx67;
}
.bodyGPUS .mainGPUS .RX67 .SeriesRX6000 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 300px;
  height: 300px;
}
.bodyGPUS .mainGPUS .RX67 .AMDVII {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 300px;
  height: 300px;
}
.bodyGPUS .mainGPUS .OTRAS {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: otros;
}
.bodyGPUS .mainGPUS .OTRAS .W7900 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 500px;
  height: 300px;
}
.bodyGPUS .mainGPUS .OTRAS .SeriesRX7000 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 500px;
  height: 300px;
}
.bodyGPUS .mainGPUS .OTRAS2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: otros2;
}
.bodyGPUS .mainGPUS .OTRAS2 .RX580 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 400px;
  height: 500px;
}
.bodyGPUS .mainGPUS .OTRAS2 .SeriesRX5000 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 400px;
  height: 400px;
}
.bodyGPUS .mainGPUS .RTX12 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: rtx12;
}
.bodyGPUS .mainGPUS .RTX12 .RTX1000 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 400px;
  height: 250px;
}
.bodyGPUS .mainGPUS .RTX12 .RTX2000 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 400px;
  height: 300px;
}
.bodyGPUS .mainGPUS .RTX34 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: rtx34;
}
.bodyGPUS .mainGPUS .RTX34 .RTX3000 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 450px;
  height: 250px;
}
.bodyGPUS .mainGPUS .RTX34 .RTX4000 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 500px;
  height: 250px;
}
.bodyGPUS .mainGPUS .otrasNvidia {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: otrasNvidia;
}
.bodyGPUS .mainGPUS .otrasNvidia .GTX660 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 450px;
  height: 275px;
}
.bodyGPUS .mainGPUS .otrasNvidia .GTX970 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 420px;
  height: 300px;
}
.bodyGPUS .mainGPUS .otrasNvidia2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 75px;
  grid-area: otrasNvidia2;
}
.bodyGPUS .mainGPUS .otrasNvidia2 .RTXA4500 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 400px;
  height: 300px;
}
.bodyGPUS .mainGPUS .otrasNvidia2 .RTX2080 {
  border: 2px solid rgb(170, 161, 161);
  background-color: white;
  width: 400px;
  height: 300px;
}

/* NOSOTROS */
.bodyNOSOTROS {
  background-color: #ff7878;
  background-image: linear-gradient(315deg, #ff7878 0%, #74d680 74%);
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.01fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "main main" "footer footer";
}
.bodyNOSOTROS .mainNOSOTROS {
  display: grid;
  grid-template-rows: 0.7fr repeat(4, 1fr);
  grid-template-columns: 0.3fr 1fr;
  grid-template-areas: "main nosotros" "main empresa" "main experiencia" "main empleados" "main proyectos";
}
.bodyNOSOTROS .mainNOSOTROS h2 {
  display: flex;
  justify-content: start;
  font-size: 30px;
}
.bodyNOSOTROS .mainNOSOTROS p {
  display: flex;
  font-size: 20px;
  color: black;
  font-family: "Poppins", sans-serif;
}
.bodyNOSOTROS .mainNOSOTROS .Nosotros {
  margin-top: 20px;
  grid-area: nosotros;
  display: flex;
}
.bodyNOSOTROS .mainNOSOTROS .Nosotros h1 {
  background-color: black;
  border-radius: 5px;
}
.bodyNOSOTROS .mainNOSOTROS .Empresa {
  grid-area: empresa;
  margin-top: 10px;
}
.bodyNOSOTROS .mainNOSOTROS .Experiencia {
  grid-area: experiencia;
  margin-top: 10px;
}
.bodyNOSOTROS .mainNOSOTROS .Empleados {
  grid-area: empleados;
}
.bodyNOSOTROS .mainNOSOTROS .Proyectos {
  grid-area: proyectos;
}

/* FAQ */
.bodyFAQ {
  background-color: #ff7878;
  background-image: linear-gradient(315deg, #ff7878 0%, #74d680 74%);
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.01fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "main main" "footer footer";
}
.bodyFAQ .mainFAQ {
  display: grid;
  grid-template-rows: repeat(5, 0.4fr) 1fr;
  grid-template-columns: 0.3fr 1fr;
  grid-template-areas: "main Preguntas" "main Tiempo" "main Pagos" "main Garantia" "main Reembolso" "main Reseña";
}
.bodyFAQ .mainFAQ p {
  display: flex;
  font-size: 20px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.bodyFAQ .mainFAQ h2 {
  display: flex;
  justify-content: start;
  font-size: 30px;
}
.bodyFAQ .mainFAQ .PreguntasFrec {
  display: flex;
  grid-area: Preguntas;
  margin-top: 20px;
}
.bodyFAQ .mainFAQ .PreguntasFrec h1 {
  background-color: black;
  border-radius: 5px;
}
.bodyFAQ .mainFAQ .Tiempo {
  grid-area: Tiempo;
}
.bodyFAQ .mainFAQ .Pagos {
  grid-area: Pagos;
}
.bodyFAQ .mainFAQ .Garantia {
  grid-area: Garantia;
}
.bodyFAQ .mainFAQ .Reembolso {
  grid-area: Reembolso;
}
.bodyFAQ .mainFAQ .Reseñas {
  grid-area: Reseña;
}

/* Footer GLOBAL */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  font-size: 20px;
  margin-top: auto;
}
footer .Copyright {
  font-family: "Poppins", sans-serif;
  display: inline;
  color: black;
  font-size: 16px;
}
footer .CopyrightLogo {
  width: 25px;
  height: 15px;
}
footer .LogoWhatsapp {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 50px;
  height: 45px;
}
footer .LogoInstagram {
  position: fixed;
  bottom: 21px;
  right: 65px;
  width: 80px;
  height: 60px;
}

/* MQ Header */
@media (max-width: 480px) {
  header .IMGLOGO .IMGLOGO2 {
    width: 365px;
    height: 175px;
  }
}
@media (max-width: 360px) {
  header .IMGLOGO .IMGLOGO2 {
    width: 330px;
    height: 170px;
  }
}
/* MQ Index */
@media (max-width: 1024px) {
  .bodyINDEX .mainIndex .ElijaGPU h1 {
    width: 400px;
    font-size: 30px;
  }
  .bodyINDEX .mainIndex .ElijaGPU p {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .bodyINDEX .mainIndex .IMGJIB .JIB {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 768px) {
  .bodyINDEX .mainIndex .IMGJIB .JIB {
    height: 200px;
    width: 175px;
  }
}
@media (max-width: 576px) {
  .bodyINDEX .mainIndex .IMGJIB .JIB {
    height: 150px;
    width: 150px;
  }
  .bodyINDEX .mainIndex .ElijaGPU h1 {
    width: 300px;
  }
}
@media (max-width: 480px) {
  .bodyINDEX .mainIndex .ElijaGPU h1 {
    width: 200px;
  }
}
/* MQ Perfil */
@media (max-width: 1200px) {
  .bodyPERFIL .mainPERFIL {
    grid-template-columns: 0.32fr 1fr;
  }
}
@media (max-width: 1024px) {
  .bodyPERFIL .mainPERFIL .Formulario {
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .bodyPERFIL .mainPERFIL .Formulario {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .bodyPERFIL .mainPERFIL .Formulario {
    font-size: 20px;
  }
  .bodyPERFIL .mainPERFIL .ParrafoPerfil {
    background-color: black;
    width: 400px;
  }
}
@media (max-width: 600px) {
  .bodyPERFIL .mainPERFIL {
    grid-template-columns: 0.2fr 1fr;
  }
  .bodyPERFIL .mainPERFIL .IconoPerfil .PerfilIcono {
    font-size: 16px;
  }
  .bodyPERFIL .mainPERFIL .IconoPerfil .PerfilIcono {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 576px) {
  .bodyPERFIL .mainPERFIL {
    grid-template-columns: 0.1fr 1fr;
  }
}
@media (max-width: 480px) {
  .bodyPERFIL .mainPERFIL .ParrafoPerfil {
    width: 300px;
  }
}
/* MQ Gpus */
@media (max-width: 1400px) {
  .bodyGPUS .mainGPUS .ParrafoGPUS {
    height: 350px;
  }
  .bodyGPUS .mainGPUS .OTRAS .SeriesRX7000 {
    width: 450px;
    height: 250px;
  }
}
@media (max-width: 1200px) {
  .bodyGPUS .mainGPUS .ParrafoGPUS {
    height: 300px;
  }
  .bodyGPUS .mainGPUS .OTRAS .SeriesRX7000 {
    width: 400px;
    height: 200px;
  }
  .bodyGPUS .mainGPUS .OTRAS .W7900 {
    width: 425px;
    height: 225px;
  }
  .bodyGPUS .mainGPUS .RTX34 .RTX3000 {
    width: 400px;
    height: 200px;
  }
  .bodyGPUS .mainGPUS .RTX34 .RTX4000 {
    width: 400px;
    height: 200px;
  }
  .bodyGPUS .mainGPUS .otrasNvidia .GTX660 {
    width: 425px;
    height: 250px;
  }
  .bodyGPUS .mainGPUS .otrasNvidia .GTX970 {
    width: 400px;
    height: 250px;
  }
}
@media (max-width: 1024px) {
  .bodyGPUS .mainGPUS .OTRAS .SeriesRX7000 {
    width: 375px;
    height: 200px;
  }
  .bodyGPUS .mainGPUS .OTRAS .W7900 {
    width: 375px;
    height: 200px;
  }
  .bodyGPUS .mainGPUS .OTRAS2 .RX580 {
    width: 350px;
    height: 450px;
  }
  .bodyGPUS .mainGPUS .OTRAS2 .SeriesRX5000 {
    width: 350px;
    height: 350px;
  }
  .bodyGPUS .mainGPUS .RTX12 .RTX2000 {
    width: 375px;
    height: 300px;
  }
  .bodyGPUS .mainGPUS .otrasNvidia2 .RTX2080 {
    width: 375px;
    height: 300px;
  }
  .bodyGPUS .mainGPUS .RTX34 .RTX3000 {
    width: 400px;
    height: 200px;
  }
  .bodyGPUS .mainGPUS .RTX34 .RTX4000 {
    width: 375px;
    height: 200px;
  }
  .bodyGPUS .mainGPUS .otrasNvidia .GTX660 {
    width: 425px;
    height: 250px;
  }
  .bodyGPUS .mainGPUS .otrasNvidia .GTX970 {
    width: 350px;
    height: 225px;
  }
}
@media (max-width: 991px) {
  .bodyGPUS .mainGPUS {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas: "ParrafoAMD rx5" "main rx67" "main otros" "main otros2" "main rtx12" "main rtx34" "main otrasNvidia" "main otrasNvidia2";
  }
  .bodyGPUS .mainGPUS .ParrafoGPUS {
    height: 200px;
  }
  .bodyGPUS .mainGPUS .RX5 {
    display: flex;
    flex-direction: column;
  }
  .bodyGPUS .mainGPUS .RX67 {
    display: flex;
    flex-direction: column;
  }
  .bodyGPUS .mainGPUS .OTRAS {
    display: flex;
    flex-direction: column;
  }
  .bodyGPUS .mainGPUS .OTRAS2 {
    display: flex;
    flex-direction: column;
  }
  .bodyGPUS .mainGPUS .RTX12 {
    display: flex;
    flex-direction: column;
  }
  .bodyGPUS .mainGPUS .RTX34 {
    display: flex;
    flex-direction: column;
  }
  .bodyGPUS .mainGPUS .otrasNvidia {
    display: flex;
    flex-direction: column;
  }
  .bodyGPUS .mainGPUS .otrasNvidia2 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .bodyGPUS .mainGPUS .ParrafoGPUS {
    height: 300px;
  }
}
@media (max-width: 600px) {
  .bodyGPUS {
    grid-template-rows: 0.2fr 30fr 0.2fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  .bodyGPUS .mainGPUS {
    grid-template-rows: 0.1fr repeat(8, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "ParrafoAMD" "rx5" "rx67" "otros" "otros2" "rtx12" "rtx34" "otrasNvidia" "otrasNvidia2";
  }
  .bodyGPUS .mainGPUS .ParrafoGPUS {
    height: 100px;
  }
}
@media (min-width: 360px) and (max-width: 426px) {
  .bodyGPUS .mainGPUS .ParrafoGPUS {
    margin-left: 20px;
    width: 320px;
    height: 120px;
  }
  .bodyGPUS .mainGPUS p {
    width: 250px;
  }
  .bodyGPUS .mainGPUS .RX5 .W6600 {
    width: 300px;
    height: 150px;
  }
  .bodyGPUS .mainGPUS .OTRAS .W7900 {
    width: 300px;
    height: 170px;
  }
  .bodyGPUS .mainGPUS .OTRAS .SeriesRX7000 {
    width: 300px;
    height: 170px;
  }
  .bodyGPUS .mainGPUS .OTRAS2 .RX580 {
    width: 300px;
    height: 370px;
  }
  .bodyGPUS .mainGPUS .OTRAS2 .SeriesRX5000 {
    width: 300px;
    height: 300px;
  }
  .bodyGPUS .mainGPUS .RTX12 .RTX1000 {
    width: 300px;
    height: 150px;
  }
  .bodyGPUS .mainGPUS .RTX12 .RTX2000 {
    width: 300px;
    height: 225px;
  }
  .bodyGPUS .mainGPUS .RTX34 .RTX3000 {
    width: 300px;
    height: 175px;
  }
  .bodyGPUS .mainGPUS .RTX34 .RTX4000 {
    width: 320px;
    height: 200px;
  }
  .bodyGPUS .mainGPUS .otrasNvidia .GTX660 {
    width: 300px;
    height: 250px;
  }
  .bodyGPUS .mainGPUS .otrasNvidia .GTX970 {
    width: 300px;
    height: 250px;
  }
  .bodyGPUS .mainGPUS .otrasNvidia2 .RTXA4500 {
    width: 300px;
    height: 300px;
  }
  .bodyGPUS .mainGPUS .otrasNvidia2 .RTX2080 {
    width: 300px;
    height: 250px;
  }
}
/* MQ Nosotros */
@media (max-width: 768px) {
  .bodyNOSOTROS .mainNOSOTROS {
    grid-template-columns: 0.1fr 1fr;
  }
  .bodyNOSOTROS .mainNOSOTROS .Nosotros h1 {
    height: 80px;
  }
}
@media (max-width: 600px) {
  .bodyNOSOTROS .mainNOSOTROS .Nosotros h1 {
    height: 60px;
  }
}
@media (max-width: 576px) {
  .bodyNOSOTROS .mainNOSOTROS p {
    font-size: 16px;
  }
}
/* MQ FAQ */
@media (max-width: 1400px) {
  .bodyFAQ .mainFAQ .PreguntasFrec h1 {
    height: 80px;
  }
}
@media (max-width: 991px) {
  .bodyFAQ .mainFAQ {
    grid-template-columns: 0.1fr 1fr;
  }
  .bodyFAQ .mainFAQ .PreguntasFrec h1 {
    height: 80px;
  }
}
@media (max-width: 768px) {
  .bodyFAQ .mainFAQ h2 {
    display: flex;
    justify-content: start;
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .bodyFAQ .mainFAQ h2 {
    justify-content: start;
    font-size: 20px;
  }
}
/* MQ Footer */
@media (max-width: 600px) {
  footer .LogoWhatsapp {
    width: 30px;
    height: 30px;
  }
  footer .LogoInstagram {
    width: 55px;
    height: 35px;
    bottom: 27px;
    right: 55px;
  }
}

/*# sourceMappingURL=estilos.css.map */
