.bodyPERFIL {
    background-color: $colorfondo;
    background-image: $imagenfondo;
    display: grid;
    grid-template-rows: 0.20fr 1fr 0.5fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: $gridareabody;

    .mainPERFIL {
        display: grid;
        grid-template-rows: 0.20fr 1fr;
        grid-template-columns: 0.50fr 1fr;
        grid-template-areas:
            "main parrafoperfil"
            "iconoperfil formulario"
        ;

        .ParrafoPerfil {
            margin-top: 10px;
            font-family: $fuenteH;
            border-radius: 5px;
            color: white;
            grid-area: ParrafoAMD;
            font-size: 30px;
            grid-area: parrafoperfil;
            display: flex;
            background-color: black;
            width: 600px;
        }

        .IconoPerfil {
            grid-area: iconoperfil;
            margin-left: 100%;
            margin-top: 20px;

            .PerfilIcono {
                width: 60px;
                height: 60px;
            }
        }

        .Formulario {
            display: flex;
            font-size: 30px;
            margin-top: 70px;
            color: black;
            font-family: $fuenteR;
            grid-area: formulario;
            margin-left: 0%;
        }
    }
}