@media (max-width: 600px){ 
    footer .LogoWhatsapp {
        width:30px;
        height: 30px;
    }
    footer .LogoInstagram{
        width:55px;
        height: 35px;
        bottom: 27px;
        right: 55px;
    }
}