@media (max-width: 480px) {
    header .IMGLOGO .IMGLOGO2 {
        width: 365px;
        height: 175px;
      }
}

@media (max-width: 360px) {
    header .IMGLOGO .IMGLOGO2 {
        width: 330px;
        height: 170px;
      }
}